@import "./Variables.module.scss";

.modal{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.7);
    align-items: center;
    justify-content: center;
}

.modal-container{
    display: grid;
    grid-template-columns: 30% 70%;
    margin-left: 20%;
    margin-top: 10%;
    height: 625px;
    width: 1150px;
    min-height: 645px;
    max-width: 1150px;
    background-color: $unselected-color;
    border-radius: 1%;
    padding: 1rem;
}
.modal-container-withoutphotos{
    margin-left: 30%;
    margin-top: 10%;
    min-height: 645px;
    max-width: 800px;
    background-color: $unselected-color;
    border-radius: 1%;
    padding: 1rem;
}

.report{
    align-items: center;
    justify-content: center;
}
.fotos{
    align-items: center;
    overflow: auto;
    justify-content: center;
    overflow-y: scroll;
    display: block;
    text-align: center;
}
.img{
    width: 400;
    height: 800;
}
.imgu{
    width: 400;
    height: 800;
    margin-top: 160px;
}
.modalboton{
    background-color:$btn-color ;
    color: $btn-text-color;
    margin-left: 95%;
    border-radius: 15%;
    width: 40px;
    height: 30px;
}
.title{
    text-align: center;
    justify-content: center;
}
.list{
    cursor: pointer;
}
.Container-crime{
    margin-top: 5px;
    width: 700px;
    height: 100;
    align-items: center;
    margin-left: 25%;
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
    border-style: solid;
    border-width: 3px;
}

.button .crime-button{
    margin-left: 50%;
    width: 100px;
}
.description{
    color: gray;
}
.time{
    color: gray;
}
.hora{
    color: gray;
    margin-left: 85%;
    margin-bottom: 1505px;
}
.asunto{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.TipoAlerta{
    display: block;
    text-align: center;
}
.Descripcion{
    display: block;
    text-align: center;
    margin-top: -17px;
}
.fecha{
    display: block;
    text-align: center;
    margin-top: -17px;
}
.horam{
    display: block;
    text-align: center;
    margin-top: -17px;
}
.carga{
    width: 300;
    height: 300; 
    margin-top: 150px; 
    margin-left : 40%;
    display: block;
    text-align: center;
}
.loader{
    margin-top: 150 px;
}