@import "./Variables.module.scss";

form {
    div {
        label {
            margin-left: 1rem;
        }
    }
}

input, select {
    width: 15rem;
    height: 3rem;
    border-width: 0px;
    border-radius: 5px;
    padding-left: 1rem;

    font-size: 100%;
    font-family: 'Manjari', sans-serif;
    background-color: white;
}

input:hover, 
input:focus,
select:hover,
select:focus {
    background-color: $unselected-color;
}

button {
    width: 17rem;
    height: 3rem;
    border-width: 0px;
    border-radius: 5px;

    font-weight: bold;
    font-family: 'Spline Sans', sans-serif;
    color: $btn-text-color;
    background-color: $btn-color;
}

.button-loading {
    background-color: lightgray;
}

button:hover {
    cursor: pointer;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}