@import "./styles/Variables.module.scss";
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&family=Spline+Sans:wght@300;400;500;600;700&display=swap');

:root {
  font-size: 16px;
  font-family: 'Spline Sans', sans-serif;
  font-weight: bold;
  overflow-x: hidden;
}

html, body {
  color: $text-primary-color;
  background-color: transparent;
  margin: 0;
  padding: 0;

  height: 100%;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: $unselected-color;
}

body::-webkit-scrollbar-thumb {
  background: $selected-color;
}

.content-container {
  margin-left: 5rem; //rem es una unidad relativa al tamaño de la fuente seleccionado en el tag root, en este caso sería 5 * 16px = 85px
  padding: 1rem;

  height: 100vh;

  background: #e6e9f0; //bccbde
  // background: rgb(255,94,249);
  // background: -moz-linear-gradient(225deg, rgba(255,94,249,1) 0%, rgba(125,172,251,1) 50%, rgba(104,185,251,1) 100%);
  // background: -webkit-linear-gradient(225deg, rgba(255,94,249,1) 0%, rgba(125,172,251,1) 50%, rgba(104,185,251,1) 100%);
  // background: linear-gradient(225deg, rgba(255,94,249,1) 0%, rgba(125,172,251,1) 50%, rgba(104,185,251,1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5ef9",endColorstr="#68b9fb",GradientType=1);
}

.center-children-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-logo {
  width: 180px;
  height: auto;
}

.background-image {
  width: 100%;
  height: 1080px;
}

h1, h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 2px;
}